.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 80px;
}
.logoImages{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}