.outerContainer{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
.container {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}
.select {
  flex: 1;
  select {
    width: 85%;
    height: 50px;
    font-size: 1.25rem;
    padding: 0 2.5rem 0 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
  }
}
.list {
  flex: 1;
  display: grid;
  align-items: center;
  justify-content: flex-end;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 100%;
  a {
    border: 1px solid #f4f4f4;
    border-radius: 99vw;
    background-color: transparent;
    font-size: 1.125rem;
    padding: 10px 0 10px 0;
    text-align: center;
  }
  a:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    gap: 40px;
  }
  .select {
    select {
      width: 100%;
    }
  }
 
  .list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
