.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}
.image {
  border-radius: 20px;
}
