body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff3;
  border-radius: 1ex;
}

body::-webkit-scrollbar-thumb {
  background: #fbb900;
  border-radius: 1ex;
}

body::-webkit-scrollbar-corner {
  background: #fff3;
}
